.App {
  text-align: center !important;
}

.input-group
{
  width: 12% !important;
  margin: auto !important;
  margin-bottom: 1rem;
}

.input-group-text
{
  background-color:#FFF !important;
  padding-right:5px !important;
  font-weight: bold !important;
  border: none !important;
}

.input-group .input-group-prepend + .form-control
{
  padding-left:0 !important;
}

.form-control
{
  text-align: center !important;
  border: none !important;
}

input
{
  margin-top: 5px;
  text-align: center !important;
  border: none;
}